<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Ebook gratis</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<div id="corpo-form" class="container">
		<div class="row">
			<div class="col-12">
				<h1>Aprenda como usar o poder dos dados para gerar mais resultados na sua empresa </h1>
				<img src="../static/img/capa1.png" width="400">
				<h3>Informe seu E-mail e receba o conteúdo gratuito</h3>
				<form>
	              <div class="input-group">
	                <input id="email" class="form-control form-lg" type="email" name="email" placeholder="Email" maxlength="150" required="">
	                  <div class="input-group-append">
	                     <button type="submit" class="btn input-group-text bg-warning text-light">QUERO RECEBER AGORA</button>
	                  </div>
	              </div>
         		 </form>
				<strong>Fique tranquilo, odiamos SPAM</strong>
			</div>
		</div>
	</div>
</body>
</html>